/*Animation Tso*/
#Card1 {

 
    position: relative;
    animation-name: example;
    animation-duration: 2s;  
    animation-delay: 0s;
    animation-fill-mode: both;
  }
  
  @keyframes example {
    from {top: 0px; }
    to {top: 20px; }
  }




#footer {
    margin-top: 70px;
    border-style: inset;
    background-color: dimgrey;
}
.container{
  font-size: large;
  margin-left: 20px;
}

#vide1 {
    margin-top: 40px;
    padding: 40px;
}