/*Animation Card*/
#Card1 {

 
    position: relative;
    animation-name: example;
    animation-duration: 0.8s;  
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }
  
  @keyframes example {
    from {top: 0px; }
    to {top: 20px; }
  }

  #Card2 {

 
    position: relative;
    animation-name: cardbottom;
    animation-duration: 0.8s;  
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }
  
  @keyframes cardbottom {
     0%   {left: 0px; top: 20px;;}
    100% { left: 0px; top: 0px;}
  }
/*End Card Animation*/
  
/*test*/
.card {background-color: #ddd; margin: 3rem;}

.card  {
  position: relative;

  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
 
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.card:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}







a{
  color:inherit; 
  text-decoration: inherit;
}
a:hover{
  color: darkgray;
}

#footer {
    margin-top: 70px;
    border-style: inset;
    background-color: dimgrey;
    min-height: 100px;
}
.container{
  font-size: large;
  margin-left: 20px;
}
.createdby{
  font-weight: bold;
}

.names{
  display: inline;
  color: black;
}

#vide1 {
    margin-top: 20px;
    padding: 20px;
}