/*Animation Tso*/
#Card1 {

 
    position: relative;
    animation-name: example;
    animation-duration: 0.8s;  
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }
  
  @keyframes example {
    from {top: 0px; }
    to {top: 20px; }
  }

  #Card2 {

 
    position: relative;
    animation-name: cardbottom;
    animation-duration: 0.8s;  
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }
  
  @keyframes cardbottom {
     0%   {left: 0px; top: 20px;;}
    100% { left: 0px; top: 0px;}
  }

  
a{
  color:inherit; 
  text-decoration: inherit;
}
a:hover{
  color: darkgray;
  transition: all 1s ease-in-out;
  transform: scale(1.5);
  
}

#footer {
    margin-top: 70px;
    border-style: inset;
    background-color: dimgrey;
    min-height: 100px;
}
.container{
  font-size: large;
  margin-left: 20px;
}
.createdby{
  font-weight: bold;
}

.names{
  display: inline;
  color: black;
}

#vide1 {
    margin-top: 40px;
    padding: 40px;
}